/* global */
body{
    background-color: #f1f3f6;
}

/* header related CSS----------- */
.container-fluid{
    padding: 0 21%;
}
.navbar-brand{
    margin-top: -10px!important;
}
.explore-anchor{
    font-size: x-small!important;
    text-decoration: none;
    color: white;
    font-style: italic;
    margin-top: -8px;
}
.explore-anchor > span {
    color: yellow;
}
.explore-anchor > span > img{
    width: 5%;
}
.search-input {
    border: none;
    border-radius: 0!important;
}
.nav-link > button{
    padding-left: 75%;
    padding-right: 75%;
    border-radius: 0!important;
}

/* sub-header related CSS----------- */
.sub-header{
    height: 75%;
    width: 100%;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    background-color: white;
}
.sub-sub-header{
    height: 100%;
    margin: 0 19%;
    overflow: hidden;
}
.category-nav{
    display: flex;
    height: 100%;
    margin: 1% 0;
}
.category-nav > img{
    height: 100%;
    width: inherit;
}
.category-nav > small{
    font-weight: 500;
}

/* carousel related CSS----------- */

.carousel{
    margin: 1% auto;
}
.carousel-control-prev > span{
    left: 0;
    position: absolute;
}
.carousel-control-next > span{
    right: 0;
    position: absolute;
}
.carousel-control-next ,
.carousel-control-prev{
    opacity: 1;
}
.carousel-control-next > span,
.carousel-control-prev > span{
    background-color: black;
    padding: 10%;
    height: 40%;
    border-radius: 5%;
}
